{% load static %}
<!-- alert  para eliminar -->
{%block javascript %}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
 <script src="{%  static 'js/eliminacion.js' %}"></script>

{% endblock %}

<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRABAJADOR Valoraciones</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/LISTAR_VALORACION.css' %}">

</head>
<body>
    <header>
        <a href="{% url 'cerrar' %}"><button class="cerrar" >Cerrar Session</button></a>


<h1>Valoraciones</h1>

    </header>
    <a href="{% url 'Valoracion:registrarvaloracionemplo' %}"> <button  type="button" class="btn btn-outline-primary">Registrar valoracion</button>    </a>

    <a href="/HomeLoc/employee"><button class="menuad">Menu</button></a>




    {% block content %}
    <h1 class="principal1" >Listado de Valoraciones</h1>
    
    <table class="table table-bordered-hoover">
        <thead>
            <tr>
                <th>Valoraciones</th>

                

            </tr>
        </thead>
        <tbody>
            {% for listadoDiagnostico in listadoDiagnosticos %}
            <tr>
                <td class="textolargo"> {{ listadoDiagnostico.id_val }}  <p> __</p>  {{ listadoDiagnostico.diagnostico }}</td>
                <td><a href="{% url 'Valoracion:editarvaloracionemplo' listadoDiagnostico.id_val %}">ACTUALIZAR</a>-<a href="#" onclick="eliminaremplo({{listadoDiagnostico.id_val }})"> ELIMINAR</a> <br><br></td>
                
            </tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock %}









<footer>
    <h1>Mecanica-Master</h1>
</footer>

</body>
</html>